<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<!-- SERVLETS PROVEEDOR -->

	<servlet>
		<servlet-name>ISST_G09_iFactura</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_iFacturaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_iFactura</servlet-name>
		<url-pattern>/isst_g09_ifactura</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_Subastas</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_SubastasServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	
	<servlet>
		<servlet-name>ISST_G09_Pujas</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_PujasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_Pujas</servlet-name>
		<url-pattern>/postPuja</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_Investigacion</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_InvestigacionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_Investigacion</servlet-name>
		<url-pattern>/investigacion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_NuevaSubasta</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_NuevaSubastaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_NuevaSubasta</servlet-name>
		<url-pattern>/crearSubasta</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_Peticiones</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_PeticionesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_Peticiones</servlet-name>
		<url-pattern>/nuevaPeticion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_Historial</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_HistorialServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_Historial</servlet-name>
		<url-pattern>/historial</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_ValorarPropuesta</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_ValorarPropuestaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_ValorarPropuesta</servlet-name>
		<url-pattern>/valorarPeticion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ISST_G09_BorrarNotificacion</servlet-name>
		<servlet-class>ifactura.proveedor.servlet.ISST_G09_BorrarNotificacionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ISST_G09_BorrarNotificacion</servlet-name>
		<url-pattern>/borrar_noti</url-pattern>
	</servlet-mapping>
	
	<!-- SERVLETS CLIENTE -->
	
	
	<!-- WELCOME FILE -->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
